<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.james.dao.mapper.VocabLevelMapper">


    <select id="getVocabLevelInfo" resultType="ai.james.model.entity.VocabLevel" parameterType="java.util.Map">
        select word, type, level
        from vocab_level_tb
        where type = #{wordType}
        AND word in
        <trim prefix="(" suffix=")">
            <foreach collection="words" index="index" item="word" separator=",">
                #{word}
            </foreach>
        </trim>
    </select>
</mapper>
